<div class="form-group roll-bonuses conditional-modifier-inputs">
    {{> "modules/ckl-roll-bonuses/hbs/label-partial.hbs"}}
    {{> "systems/pf1/templates/apps/item-action/conditionals.hbs"}}
</div>
