<div class="form-group roll-bonuses">
    {{> "modules/ckl-roll-bonuses/hbs/label.hbs"}}
    <div class="form-fields">
        {{#if subLabel}}
        <div>{{subLabel}}</div>
        {{/if}}
        <i class="label">{{localize "PF1.Enabled"}}</i>
    </div>
</div>
