<div class="form-group input-select roll-bonuses">
    {{> "modules/ckl-roll-bonuses/hbs/label-partial.hbs"}}
    <div class="form-fields">
        <div class="error-text">{{errorMsg}}</div>
    </div>
</div>
