<div id="ckl-global-bonus-actor-disabled-container">
    <h2>{{localize 'ckl-roll-bonuses.global-bonus.actor.disable'}}</h2>

    <div style="display:flex;flex-direction:column;">
        {{#each settings }}
        <li class="form-group">
            <label class="checkbox">
            <input type="checkbox" name="{{path}}" {{#if checked}}checked{{/if}}>
                {{label}}
            </label>
        </li>
        {{/each}}
    </div>
</div>
