<label class="bonus-label{{#if isSubLabel}} sub-label{{/if}}">
    {{label}}
    <a
        data-tooltip="{{tooltip}}"
        {{#if journal}}data-journal="{{journal}}"{{/if}}
    >
        <i class="fas fa-book"></i>
    </a>
</label>
