{{!--
args:
{
choices: string[]
current: string (current choice),
key: string (used for uniquely identifying this selector), // todo
label: string (label for selector),
}
--}}
<div class="form-group">
    {{> "modules/ckl-roll-bonuses/hbs/label.hbs"}}
    <div class="form-fields">
        <select name="string-selector" id="string-selector-{{key}}">
            {{#select current}}
            {{#each choices}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>
