<div class="form-group roll-bonuses">
    {{> "modules/ckl-roll-bonuses/hbs/label-partial.hbs"}}
    <div class="form-fields">
        {{#if readonly}}
            <input type="text" readonly value="{{current.label}}" />
        {{else}}
        <select id="key-value-selector-{{key}}">
            {{selectOptions choices selected=current nameAttr="key" labelAttr="label"}}
        </select>
        {{/if}}
    </div>
</div>
