<label>
    {{label}}
    <a
        data-tooltip="{{tooltip}}"
        {{#if compendiumEntry}}data-compendium-entry="{{compendiumEntry}}"{{/if}}
    >
        <i class="fas fa-book"></i>
    </a>
</label>
