<div id="ckl-roll-bonus-container">
    <h3 class="form-header">
        <a>
            <i class="fal fa-dice-d20"></i>
        </a>
        {{localize 'ckl-roll-bonuses.roll-bonuses'}}
        <a class="settings">
            <i class="fal fa-sliders" style="/* margin-inline-start: auto; */"></i>
        </a>
    </h3>
</div>
