<div id="ckl-roll-bonus-container">
    <h3 class="form-header">
        <a class="header-icon">
            <i class="fas fa-dice-d20"></i>
        </a>
        {{localize 'ckl-roll-bonuses.roll-bonuses'}}
        <a class="settings settings-button">
            <i class="fas fa-sliders"></i>
        </a>
    </h3>
    <div class="bonuses">
        <div class="settings form-group">
            <label><a>Click here to configure bonuses <i class="fas fa-sliders"></i></a></label>
        </div>
    </div>
</div>
