<div class="form-group roll-bonuses">
    <label>{{label}}</label>
    <div class="form-fields">
        <input type="text" class="formula" value="{{current}}" id="text-input-{{key}}" placeholder="{{placeholder}}" />
    </div>
</div>