.pf1.sheet .roll-bonuses input[type=text] {
    background-color: rgba(0, 0, 0, .05);
    border: 1px solid #7a7971;
}

#ckl-roll-bonus-container {
    .conditional.flexcolumn::marker {
        content: '';
    }

    .conditionals.form-group {
        padding: unset;
    }

    .pf1.item-action {
        height: unset;
    }
}

/* copied from apps.less in pf1 repo */
.pf1.sheet .roll-bonuses .delete-damage {
    width: 18px;
    flex: 0 0 18px;
    line-height: 24px;
    text-align: right;
    color: #7a7971;
}

.pf1.sheet .roll-bonuses .damage-type i.icon {
    margin-inline-end: .25rem;
}

.pf1.sheet .roll-bonuses.editable-icon-input {
    .header {
        flex: 1;
    }

    .form-fields {
        flex-wrap: wrap;

        & li {
            flex: 0 0 52px;
            border-width: 2px;
            border-style: solid;
            border-radius: 4px;
            display: flex;
            margin: 2px;
            overflow: hidden;
        }

        & img {
            border: none;
            width: 48px;
            height: 48px;
        }

        & span {
            visibility: hidden;
        }
    }

    & a {
        flex: 0;
    }
}

.roll-bonuses-form {
    .form-body {
        max-height: 80vh;
        overflow-y: auto;

        & h4 {
            font-weight: bold;
        }
    }

    .control-group {
        display: flex;
        flex-wrap: wrap;
        margin: 3px 0;

        >* {
            flex: 3;
        }
    }
}

.roll-bonuses-form.item-selector {
    & div.item-selector-row {
        align-items: center;
        display: flex;

        &:hover {
            color: var(--pf1-item-hover-text);
            text-shadow: var(--pf1-item-hover-shadow);
            cursor: pointer;
        }
    }

    & div.item-selector-contents {
        align-items: center;
        display: flex;

        & div {
            margin: 0;
        }

        & img {
            min-height: 24px;
            min-width: 24px;
            max-height: 24px;
            max-width: 24px;
        }

        & *:not(:last-child) {
            margin-inline-end: .2rem;
        }
    }
}

.roll-bonuses-form.token-selector {
    .grouped-tokens {
        display: flex;
        flex-wrap: wrap;
        max-width: 424px;

        & *:not(:last-child) {
            margin-inline-end: .5rem;
        }

        .individual-token {
            /* align-items: center; */
            position: relative;

            &:hover {
                color: var(--pf1-item-hover-text);
                text-shadow: var(--pf1-item-hover-shadow);
                cursor: pointer;
            }

            & input {
                position: absolute;
            }

            .token-selector-contents {
                display: flex;
                flex-direction: column;
                min-height: 125px;
                min-width: 96px;
                max-height: 125px;
                max-width: 96px;

                & div {
                    /* margin: 0; */
                }

                & img {
                    min-height: 96px;
                    min-width: 96px;
                    max-height: 96px;
                    max-width: 96px;
                }
            }
        }
    }
}

/* override pf1 to be important because otherwise this style is overridden by more specific styles
 * if these classes are used in a place they aren't currently being used. (I moved the lock button
 * to be after the Name which already has more specifc `display: block` style)
 */
.pf1.sheet {
    .lockable {
        &.hide-contents {
            >* {
                display: none !important;
            }
        }
    }
}

.versatile-performance-selector td {
    padding-inline: 2px;

    & select {
        width: 100%;
    }
}

.sheet itemHints.koboldworks .hint {
    &.ckl-acid-green {
        color: #53c544;
    }

    &.ckl-cold-blue {
        color: #6897e8;
    }

    &.ckl-electric-yellow {
        color: #999900;
    }

    &.ckl-fire-red {
        color: #ff0000;
    }
}