{{!--
args:
{
    current: string[],
    isFormula: boolean,
    label: string,
}
--}}

<div class="form-group roll-bonuses">
    <h4 class="header">
        {{label}}
    </h4>
    <div class="form-fields">
        {{#each current}}
        <li data-index="{{@index}}">
            <input type="text" {{#if isFormula}}class="formula" {{/if}}value="{{this}}" />
            <a class="delete-row"><i class="fas fa-trash"></i></a>
        </li>
        {{/each}}
    </div>
</div>
