{{!--
current: { key1: label1, key2: label2, ... }
flag: used for id-ness
label: string,
// also reuses system classes for looks
--}}
<div class="form-group weapon-groups weapon-type-input roll-bonuses">
  <div class="form-group">{{> "modules/ckl-roll-bonuses/hbs/label.hbs" for="system.{{flag}}"}}</div>
  <ul class="traits-list tag-list">
    {{#each current}}
      <li class="tag {{@key}}">{{lookup ../options this}}</li>
    {{/each}}
  </ul>
  <a class="trait-selector" data-options="{{flag}}"><i class="fas fa-edit"></i></a>
</div>
