
<div class="form-group roll-bonuses">
    <h4 class="header">
        {{label}}
    </h4>
    <div class="form-fields">
        {{#each currentUuids}}
        <li data-index="{{@index}}">
            {{this}}
        </li>
        {{/each}}
    </div>
</div>
