{{!--
current: { key1: label1, key2: label2, ... }
--}}
<div class="form-group weapon-groups weapon-type-input roll-bonuses">
  {{> "modules/ckl-roll-bonuses/hbs/label.hbs">{{localize "PF1.WeaponGroups"}} }}
  <ul class="traits-list tag-list">
    {{#each current}}
      <li class="tag {{@key}}">{{this}}</li>
    {{/each}}
  </ul>
  {{#unless readonly}}
  <a class="trait-selector" data-options="weaponGroups"><i class="fas fa-edit"></i></a>
  {{/unless}}
</div>
