{{!--
current: { key1: label1, key2: label2, ... }
--}}
<div class="form-group weapon-groups weapon-type-input roll-bonuses">
  <label for="system.weaponGroups">{{localize "PF1.WeaponGroups"}}</label>
  <ul class="traits-list tag-list">
    {{#each current}}
      <li class="tag {{@key}}">{{this}}</li>
    {{/each}}
  </ul>
  <a data-options="weaponGroups"><i class="fas fa-edit"></i></a>
</div>
