.ckl-skill-icon {
    align-self: center;
    margin-inline-start: auto;
    text-align: center;
    width: 1.5rem;
}

.ckl-skill-icon-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.ckl-skill-icon-container .ckl-skill-icon {
    grid-area: 1 / 1;
}
.ckl-skill-icon-slash-2 {
    margin-inline-start: 1px;
}

#ckl-global-bonus-actor-disabled-container .ckl-description {
    margin-inline: auto;
    text-align: center;
    width: 60%;
}

.ckl-fa-magnifying-glass::after {
    content: "\f002";
}
