.roll-bonuses-form.bonus-picker {
    .sources {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .specific-bonuses {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 1rem;
    }

    & h2 {
        text-align: center;
    }
}
