.sheet .koboldworks.item-hints .item-hint.ckl-acid-green {
    color: #53c544;
}

.sheet .koboldworks.item-hints .item-hint.ckl-cold-blue {
    color: #6897e8;
}

.sheet .koboldworks.item-hints .item-hint.ckl-electric-yellow {
    color: #999900;
}

.sheet .koboldworks.item-hints .item-hint.ckl-fire-red {
    color: #ff0000;
}

.sheet .koboldworks.item-hints .item-hint.ckl-missing-source {
    color: #dd0000;
}

.sheet .koboldworks.item-hints .item-hint.ckl-lucky-horseshoe {
    transform: rotate(180deg);
}

.ckl-extra-fa-magnifying-glass::after {
    content: "\f002";
    margin-inline-start: -0.75em;
}

.ckl-extra-focus {
    border-radius: 50%;
    border-style: dotted;
    border-color: yellow;
}

.ckl-fa-slash {
    position: relative;
}
.ckl-fa-slash::after {
    content: "\f715";
    margin-inline-start: -116%;
    position: absolute;
    transform: scale(-0.8, 1);
}

.sheet .koboldworks.item-hints .item-hint i.improved-icon {
    text-shadow: 0px 0px 1px red, 0px 0px 1px red;
}
