.pf1.sheet .roll-bonuses input[type="text"] {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid #7a7971;
}

#ckl-roll-bonus-container .conditional.flexcolumn::marker {
    content: "";
}

#ckl-roll-bonus-container .conditionals.form-group {
    padding: unset;
}

#ckl-roll-bonus-container .pf1.item-action {
    height: unset;
}

#ckl-roll-bonus-container .settings-button {
    float: right;
    float: inline-end;
}

#ckl-roll-bonus-container .settings:has(+ *) {
    display: none;
}

#ckl-roll-bonus-container .bonus-label .fas.fa-book {
    margin-inline-start: 0.125rem;
}

#ckl-roll-bonus-container .error label {
    color: var(--pf1-color-text-error);
}

#ckl-roll-bonus-container .error-text {
    color: darkred;
    font-weight: bold;
    text-align: right;
}
#ckl-roll-bonus-container .editable-icon-input .error-text {
    margin-inline-end: 0.5rem;
}

#ckl-roll-bonus-container .traits-list.tag-list {
    justify-content: flex-end;
}

/* copied from apps.less in pf1 repo */
.pf1.sheet .roll-bonuses .delete-damage {
    width: 18px;
    flex: 0 0 18px;
    line-height: 24px;
    text-align: right;
    color: #7a7971;
}

.pf1.sheet .roll-bonuses .damage-type i.icon {
    margin-inline-end: 0.25rem;
}

.pf1.sheet .roll-bonuses.editable-icon-input .header {
    flex: 1;
}

.pf1.sheet .roll-bonuses.editable-icon-input .form-fields {
    flex-wrap: wrap;
}

.pf1.sheet .roll-bonuses.editable-icon-input .form-fields li {
    flex: 0 0 52px;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    display: flex;
    margin: 2px;
    overflow: hidden;
}

.pf1.sheet .roll-bonuses.editable-icon-input .form-fields img {
    border: none;
    width: 48px;
    height: 48px;
}

.pf1.sheet .roll-bonuses.editable-icon-input .form-fields span {
    height: 48px;
    visibility: hidden;
}

.pf1.sheet .roll-bonuses .form-fields .label {
    text-align: end;
}

.versatile-performance-selector td {
    padding-inline: 2px;
}

.versatile-performance-selector td select {
    width: 100%;
}
