.sheet .koboldworks.item-hints .hint.ckl-acid-green {
    color: #53c544;
}

.sheet .koboldworks.item-hints .hint.ckl-cold-blue {
    color: #6897e8;
}

.sheet .koboldworks.item-hints .hint.ckl-electric-yellow {
    color: #999900;
}

.sheet .koboldworks.item-hints .hint.ckl-fire-red {
    color: #ff0000;
}

.sheet .koboldworks.item-hints .hint.ckl-missing-source {
    color: #dd0000;
}

.sheet .koboldworks.item-hints .hint.ckl-lucky-horseshoe {
    transform: rotate(180deg);
}
